<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>
    <link href="css/style-resultado-consulta.css" rel="stylesheet">
    <link href="css/hover.css" rel="stylesheet" media="all">
    <link href="css/reset.css" rel="stylesheet" media="all">
    <link href="css/navbar.css"rel="stylesheet" media="all">
    <link href="css/footer.css" rel="stylesheet" medial="all">
    <title><%= title %> </title>
  </head>
  <body>
    <header>
      <%- include('../partials/header.ejs')  %> 
    </header>
    <main class="vh-100 vw-100 d-flex justify-content-center align-items-center">
      <div class="container-sm bg-dark">
        <table class="table table-xl text-light text-center">
          <thead>
              <tr>
                <th>Sensor<%= sensor%></th>
              </tr>
          </thead>
          <tbody>                 
              <tr>
                  <td>PH</td>
              </tr>                          
          </tbody>
      </table>
      </div> 
    </main>
    <footer>
      <%- include('../partials/footer.ejs')  %> 
    </footer>
  </body>
</html>
